@use '../../global.scss';

.analytics-container {
    background-color: #f3f3f1;

    .dashboard-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        // width: 100%;
        // max-width: 1111px;
        background-color: #f3f3f1;
        padding: 20px 40px;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        margin-left: global.$side-bar-width;
    }

    .header {
        width: 100%;
        padding: 20px 0px 0px;
        background: transparent;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .greeting {
        font-family: 'Pacifico', cursive;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.48px;
        margin: 0;

        .text-bold {
            font-weight: bold;
        }
    }

    .calendar-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .title{
            font-size: 18px;
        }

        .date-range-selector {
            width: 244px;
            background: #ffffff;
            border-radius: 16px;
            padding: 21px 23px;
            cursor: pointer;
            transition: all 0.2s ease;
        }

        .date-range-selector:hover {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

        .date-range-content {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .calendar-icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
            background-color: white
        }

        .date-text {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 500;
            // color: var(--footer-text);
            line-height: 14.45px;
            flex-grow: 1;
        }

        .arrow-icon {
            width: 12px;
            height: 7px;
            object-fit: contain;
            margin-left: auto;
            background-color: white
        }
    }

}