@use '../../global.scss';

.analytics-container {
    background-color: #f3f3f1;

    .dashboard-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        // width: 100%;
        // max-width: 1111px;
        background-color: #f3f3f1;
        padding: 20px 40px;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        margin-left: global.$side-bar-width;
    }

    .header {
        width: 100%;
        padding: 20px 0px 0px;
        background: transparent;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .greeting {
        font-family: 'Pacifico', cursive;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.48px;
        margin: 0;

        .text-bold {
            font-weight: bold;
        }
    }

    .calendar-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .title {
            font-size: 18px;
        }

        .date-range-selector {
            width: 244px;
            background: #ffffff;
            border-radius: 16px;
            padding: 21px 23px;
            cursor: pointer;
            transition: all 0.2s ease;
        }

        .date-range-selector:hover {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

        .date-range-content {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .calendar-icon {
            width: 24px;
            height: 24px;
            object-fit: contain;
            background-color: white
        }

        .date-text {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 500;
            // color: var(--footer-text);
            line-height: 14.45px;
            flex-grow: 1;
        }

        .arrow-icon {
            width: 12px;
            height: 7px;
            object-fit: contain;
            margin-left: auto;
            background-color: white
        }
    }

    .header-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
    }

    .header-cards-container {
        display: flex;
        gap: 20px;
        width: 100%;
        // min-width: 300px;
        flex-wrap: wrap;
    }

    .traffic-sites-container {
        display: flex;
        border-radius: 30px;
        gap: 1rem;
        .traffic-sites{
            width: 50%; 
            background: white;
            border-radius: 40px;
            padding: 20px
        }
    }

    .traffic-link-container{
        width: 60%; 
        background: white; 
        border-radius: 40px; 
        padding: 20px
    }

    .line-chart-container{
        background: white;
        border-radius: 30px
    }

    .card {
        flex: 1;
        padding: 30px;
        border-radius: 20px;
        // min-width: 280px;
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    .card:hover {
        transform: translateY(-2px);
    }

    .card.green {
        background-color: #28a263;
    }

    .card.light {
        background-color: #daf8eb;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card h3 {
        font-size: 17.44px;
        line-height: 24.91px;
        margin: 0;
    }

    .green h3 {
        color: #ffffff;
    }

    .light h3 {
        color: #000000;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }

    .number {
        font-weight: 600;
        font-size: 29.89px;
        line-height: 44.84px;
    }

    .green .number {
        color: #f4f4f4;
    }

    .light .number {
        color: #1c1c1c;
    }

    .trend {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 6px 12px;
        border-radius: 9.68px;
        background-color: #e0e2d9;
    }

    .trend span {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        color: #1c1c1c;
    }

    .trend-arrow {
        width: 20px;
        height: 20px;
        position: relative;
    }

    .trend-arrow.up:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid #28a263;
        transform: translate(-50%, -50%);
    }

    @media screen and (max-width: 800px) {
        .dashboard-container {
            margin-left: 0px;
            padding: 16px 16px 80px;
            background-color: white;
        }

        .calendar-container{
            flex-direction: column;
            align-items: flex-start;
            .date-range-selector{
                background-color: #f3f3f1;
                width: 100%;
                margin-top: 10px;
            }
        }


        .header{
            display: none;
        }

        .traffic-sites-container{
            flex-direction: column;
            .traffic-sites{
                background-color: #f3f3f1;
                width: 100%;
            }
        }

        .traffic-link-container{
            width: 100%;
            background-color: #f3f3f1;
        }

        .line-chart-container{
            background-color: #f3f3f1;
        }

        .header-cards-container{
            overflow: auto;
            flex-wrap: nowrap;

            .card{
                flex: 1 0 80%;
                padding: 20px;
                // flex-grow: 1;
                // flex-shrink: 0;
            }
        }
    }
}