/* HomePage.css */
.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: #FAFAFA;

  .content-container {
    padding-top: 100px;
  }

  .header-content {
    padding: 40px 30px 10px;
    width: 100%;
    position: fixed;
    top: 0px;
    background: #FAFAFA;
    z-index: 1000;
  }

  /* Header Styles */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px 8px 40px;
    background-color: #fff;
    border-radius: 120px;
    border: 1px solid #e0e2d9;
    box-sizing: border-box;
  }

  .header-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
  }

  .logo-image {
    width: 32px;
    height: 32px;
  }

  .logo-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
    color: #000000;
  }

  .logo-trademark {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 3.36px;
    font-weight: 800;
    color: #000000;
    align-self: flex-start;
    position: absolute;
    left: 120px;
    top: 4px;
  }

  .logo-separator {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-left: 4px;
  }

  /* Button Styles */
  .signup-button,
  .cta-button {
    padding: 14px 24px;
    background-color: #28a263;
    color: #ffffff;
    border: none;
    border-radius: 96px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.2s ease;
    line-height: 26.4px;
  }

  .signup-button:hover,
  .cta-button:hover {
    background-color: #238e56;
  }

  /* Main Content Layout */
  .main-content {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 0px 0px 40px 40px;
    box-sizing: border-box;
  }

  .secondary-content {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 0px 80px 40px;
    box-sizing: border-box;
  }

  /* Hero Section */
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: flex-start;
    gap: 20px;
    padding: 80px 0px 20px 40px;
    // min-width: 300px;
    // max-width: 100%;
    box-sizing: border-box;
  }

  .hero-title {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 70px;
    color: #1E2330;
    margin: 0;
    text-align: left;
  }

  .hero-description {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #1E2330;
    margin: 0;
    text-align: left;
    padding-bottom: 30px;
  }

  /* Analytics Section */
  .analytics-section {
    display: flex;
    flex-direction: column;
    // min-width: 300px;
    width: 100%;
    // max-width: 694px;
    height: auto;
    border-radius: 34px;
    padding-right: 0px;
  }

  .analytics-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 34px;
  }

  /* Monetization Section */
  .monetization-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 48px 40px;
    background-color: #fff;
    border-radius: 32px;
    box-sizing: border-box;
  }

  .frame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 0px;
  }

  .frame-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -18px;
  }

  .frame-image {
    width: 133px;
    height: 216px;
    object-fit: contain;
  }

  .monetization-text {
    margin: 20px 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.28px;
    line-height: 36.4px;
    color: #1E2330;
    text-align: left;
  }

  /* Engagement Section */
  .engagement-section {
    display: flex;
    flex-direction: column;
    padding: 38px;
    gap: 24px;
    // min-width: 320px;
    width: 100%;
    box-sizing: border-box;
  }

  .engagement-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: -1.12px;
    line-height: 1.47;
    color: #1E2330;
    margin: 0;
  }

  .engagement-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.4px;
    line-height: 2;
    color: #1E2330;
    margin: 0;
  }

  .engagement-image-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .engagement-image {
    width: 100%;
    height: auto;
    max-width: 480px;
  }

  /* LandingPage.css */
  .layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  /* Content Sharing Section */
  .content-sharing {
    width: 100%;
    // min-width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 100px;
    gap: 40px;
    flex-wrap: wrap;
  }

  .content-sharing__left {
    flex: 1;
    // min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 28px 0;
  }

  .content-sharing__left h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1.12px;
    line-height: 58.8px;
    color: #1e2330;
    margin: 0;
  }

  .content-sharing__left p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 30px;
    color: #1e2330;
    margin: 0;
  }

  .content-sharing__right {
    flex: 1;
    // min-width: 300px;
    // max-width: 760px;
    background: #c6c6c6;
    border-radius: 32px;
    padding: 70px 46px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .image-grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .square-image {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    object-fit: cover;
    flex-grow: 1;
  }

  .wide-image {
    width: 200px;
    height: 160px;
    border-radius: 8px;
    object-fit: cover;
  }

  .content-sharing__right p {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.28px;
    line-height: 36.4px;
    color: #ffffff;
    margin: 20px 0 0 0;
  }

  /* Customer Section */
  .customer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }

  .customer__content {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 20px;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 100px;
  }

  .customer__left {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .customer__left p {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    // font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.96px;
    color: #000000;
    margin: 0;
  }

  .customer__text {
    color: #28a263;
  }

  .customer__button {
    display: flex;
    padding: 12px 24px;
    border-radius: 99px;
    border: 2px solid #28a263;
    background: transparent;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #349f68;
  }

  .customer__button:hover {
    background: #28a263;
    color: #ffffff;
  }

  .customer__right {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 400px;
  }

  .customer__right p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #1f1f1f;
    margin: 0;
    width: 300px;
  }

  /* Testimonials Section */
  .testimonials {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px 100px;
    align-items: center;
  }

  .testimonials__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
    flex-wrap: wrap;
  }

  .testimonial-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 31px 27px;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
  }

  .testimonial-content {
    display: flex;
    flex-direction: column;
    gap: 26px;
    z-index: 1;
  }

  .testimonial-content h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.48px;
    color: #000000;
    margin: 0;
  }

  .testimonial-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #1f1f1f;
    margin: 0;
  }

  .profile {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 24px;
  }

  .profile__dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #28A263;
  }

  .profile__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .author {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #000000;
  }

  .role {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #3d3d3d;
  }

  .app-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px 100px;
  }

  // /* Header Styles */
  // .header {
  //   width: 100%;
  //   padding: 14px 0;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // .header h1 {
  //   margin: 0;
  //   font-family: 'Poppins', sans-serif;
  //   font-size: 48px;
  //   font-weight: 700;
  //   letter-spacing: -1.12px;
  //   line-height: 56px;
  //   color: #1e2330;
  //   text-align: center;
  // }

  /* Integration List Styles */
  .integration-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
  }

  .app-link {
    color: #1E2330;
    font-size: 38px;
    font-weight: bolder;
    text-align: start;
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 10px 10px 50px;
  }

  .integration-card {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 13px;
    background-color: inherit;
  }

  .integration-card:hover {
    transform: scale(1.02);
  }

  .integration-icon {
    width: 56px;
    height: 56px;
    border-radius: 10px;
    overflow: hidden;
  }

  .integration-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .integration-content {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex: 1;
  }

  .integration-content h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 26px;
    color: #1e2330;
    margin: 0;
  }

  .integration-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.16px;
    line-height: 26.4px;
    color: #1e2330;
    margin: 0;
  }

  /* Footer Styles */
  .footer {
    display: flex;
    flex-direction: column;
    padding: 58px 64px;
    gap: 10px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px -4px 98.8px rgba(40, 162, 99, 0.3);
    margin: 70px 0px 20px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 51px;
    width: 100%;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  .auth-buttons {
    display: flex;
    gap: 8px;
    height: fit-content;
  }

  .btn-login {
    padding: 17.8px 24.3px 19.2px;
    background: #EFF0EC;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 26.4px;
    color: #1E2330;
  }

  .btn-signup {
    padding: 17.8px 24px 19.2px;
    background: #28A263;
    border-radius: 96px;
    border: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 26.4px;
    color: #FFFFFF;
  }

  .footer-links {
    display: flex;
    gap: 140px;
    flex-wrap: wrap;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-column a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #1E2330;
    text-decoration: none;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .acknowledgment {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.13px;
    line-height: 21.45px;
    color: #000000;
    margin: 0;
    width: 60%;
  }

  .social-icons {
    display: flex;
    gap: 24px;
    padding-bottom: 16.875px;
    justify-content: flex-end;
    gap: 2rem;
  }

  /* Responsive adjustments */
  // @media (max-width: 1148px) {
  //   .footer {
  //     min-width: auto;
  //     padding: 30px;
  //   }

  //   .footer-links {
  //     gap: 40px;
  //   }

  //   .header {
  //     min-width: auto;
  //   }
  // }

  // @media (max-width: 768px) {
  //   .footer-top {
  //     flex-direction: column;
  //   }

  //   .footer-bottom {
  //     flex-direction: column;
  //     text-align: center;
  //   }

  //   .social-icons {
  //     justify-content: center;
  //   }

  //   .header h1 {
  //     font-size: 36px;
  //   }
  // }

  // /* Responsive Design */
  // @media (max-width: 1200px) {

  //   .main-content,
  //   .secondary-content {
  //     flex-direction: column;
  //     align-items: center;
  //   }

  //   .monetization-section {
  //     min-width: 320px;
  //     width: 100%;
  //   }

  //   .frame-container {
  //     flex-wrap: wrap;
  //     gap: 20px;
  //   }

  //   .frame-wrapper {
  //     margin: 0;
  //   }
  // }

  // @media (max-width: 768px) {
  //   .hero-title {
  //     font-size: 40px;
  //     line-height: 50px;
  //   }

  //   .header {
  //     padding: 9px 20px;
  //     border-radius: 60px;
  //   }
  // }

  @media (max-width: 800px) {
    .header-content {
      padding: 20px 18px 10px;
    }

    .header {
      padding: 10px 14px;


      .logo-image {
        width: 42px;
        height: 42px;
      }

      .signup-button {
        padding: 10px 16px;
      }

      .logo-text,
      .logo-separator,
      .logo-trademark {
        display: none;
      }
    }

    .main-content {
      flex-wrap: wrap;
      padding: 0px;

      .hero-section {
        padding: 20px;
      }

      .hero-title {
        font-size: 40px;
        line-height: 44px;
      }
    }

    .secondary-content {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      padding: 0px;

      .engagement-title {
        font-size: 40px;
        line-height: 44px;
      }
    }

    .content-sharing {
      padding: 0px 30px;
      flex-direction: column-reverse;

      .content-sharing__right {
        padding: 50px;
      }

      .square-image {
        width: 60px;
        height: 80px;
      }

      .wide-image {
        width: 100px;
        height: 80px;
        flex-grow: 1;
      }

      .content-sharing__right p {
        font-size: 18px;
      }
    }

    .engagement-section {
      padding: 0px 30px;
    }

    .monetization-section {
      padding: 24px;

      .frame-image {
        width: 80px;
      }

      .monetization-text {
        font-size: 16px;
        line-height: 1.7rem;
      }
    }

    .customer__right {
      display: none;
    }

    .customer__content {
      padding: 10px;
      text-align: center;
    }

    .customer__button {
      width: fit-content;
      text-align: center;
    }

    .button__container {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .testimonials__row {
      display: flex;
      overflow: hidden;
      flex-wrap: nowrap;

      .testimonial-card {
        // width: 300px;
        // flex-grow: 1;
        // flex-shrink: 0;
        font-size: 12px;
      }
    }

    .app-layout {
      padding: 20px 30px;

      .app-link {
        font-size: 32px;
        text-align: center;
      }
    }

    .integration-list {
      display: flex;
      flex-direction: column;
    }

    .footer {
      padding: 20px;

      .footer-top {
        flex-direction: column-reverse;
      }

      .footer-content {
        display: flex;
        flex-direction: column;
      }

      .acknowledgment {
        display: none;
      }

      .footer-links {
        gap: 20px;
        flex-direction: column;
      }

      .auth-buttons {
        flex-direction: column;
        width: fit-content;
        gap: 16px;
      }

      .btn-login {
        border-radius: 50px;
        padding: 12px 18px;
      }

      .btn-signup {
        padding: 12px 18px;
      }

      .social-icons {
        width: 100%;
        justify-content: center;

        &>img {
          width: 90%;
        }
      }
    }

  }
}