@use '../../../global.scss';

.sidebar-container {
    width: global.$side-bar-width;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 36px;

    .sidebar-profile-img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid grey;
    }

    .sidebar-profile-image {
        width: 36px;
        height: 36px;
        object-fit: cover;
        background-color: white;
        border: 1px solid grey;
        border-radius: 50%;

        &.no-img {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000000c4;
        }
    }


    .logo-section {
        padding: 36px 30px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .logo-img {
        width: 43px;
        height: 44.51px;
    }

    .logo-text {
        font-family: 'Poppins', sans-serif;
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 0.64px;
        margin: 0;
    }

    .nav-section {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .img-active {
            color: #28a263;
        }

        .nav-item {
            padding: 0 30px;
            display: flex;
            align-items: center;
            gap: 20px;
            cursor: pointer;
            transition: all 0.3s ease;
            padding: 18px 30px;
        }

        // .nav-item:hover {
        //   background-color: rgba(40, 162, 99, 0.1);
        // }

        .nav-icon {
            width: 24px;
            height: 24px;
        }

        .nav-label {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #676b5f;
        }

        .nav-item.active .nav-label {
            color: #28a263;
            font-weight: 500;
            font-size: 18px;
        }

        .nav-item.active {
            position: relative;
            background-color: #F3F3F1;
        }

        .nav-item.active::before {
            content: "";
            width: 30px;
            height: 30px;
            background-color: white;
            position: absolute;
            right: 0;
            bottom: 100%;
            box-shadow: 0 18px 0 #F3F3F1;
            border-bottom-right-radius: 18px;
        }

        .nav-item.active::after {
            content: "";
            width: 30px;
            height: 30px;
            background-color: white;
            position: absolute;
            right: 0;
            top: 100%;
            box-shadow: 0 -18px 0 #F3F3F1;
            border-top-right-radius: 18px;
        }
    }

    .profile-section {
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    .profile-info {
        display: flex;
        gap: 1rem;
        align-items: center;
        display: flex;
        border: 1px solid black;
        padding: 8px 18px;
        border-radius: 30px;
        width: fit-content;
        cursor: pointer;
        position: relative;

        .profile-logout {
            position: absolute;
            top: -30px;
            padding: 14px 10px;
            background: #f3f3f1;
            width: 130px;
            right: 0px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            gap: 1rem;
            display: none;

            &.active{
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .sidebar-container {
        display: none;
    }
}